{% extends 'app/base.html' %}
{% load static %}
{% block title %}
  Buy Now
{% endblock %}
{% block main-content %}
<div class="container my-5">
  <div class="row">
    <div class="col-sm-3">
        <ul>
            <li><a href="{% url 'mobile' 'redmi' %}">redmi</a></li>
            <li><a href="{% url 'mobile' 'samsung' %}">samsung</a></li>
            <li><a href="{% url 'mobile' 'apple' %}">apple</a></li>
            <li><a href="{% url 'mobile' 'below' %}">Below 30000</a></li>
            <li><a href="{% url 'mobile' 'above' %}">Above 50000</a></li>
            <li><a href="{% url 'mobile' %}">Show All</a></li>
        </ul>
    </div>
    {% for mob in mobs %}
    <div class="card text-center" style="width: 18rem;">
        <a href="{% url 'product-detail' mob.id %}"><img src="{{mob.images.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{mob.product_name|capfirst}}</p>
          <p class="card-text">Rs. {{mob.MRP}}</p>
        </div></a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock main-content %}
